.navigate{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;

    >i{
        font-size: 12px;
        font-style: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    >b{
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

.navCont{
    width: fit-content;
    height: fit-content;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-self: end;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;

    >div{
        margin: 10px 0;
    }
}

@media screen and (min-width: 360px) and (max-width: 900px){
    .navigate{
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-self: center;
        margin-left: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 2px;
    
        >i{
            font-size: 12px;
            font-style: normal;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        >b{
            font-size: 15px;
            font-style: normal;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
    
    .navCont{
        min-width: 100%;
        width: fit-content;
        height: fit-content;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-self: end;
        justify-content: center;
        gap: 40px;
        margin-right: 10px;
    
        >div{
            margin: 10px 0;
        }
    }
}