.toTop{
    background-color: #37475a;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    color: aliceblue;
    cursor: pointer;

    &:hover{
        background-color: #a8a8a8;
        color: rgb(43, 43, 43);
        transition-duration: 1s;
    }
}
.Footerlogo{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222f3d;
}

